<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link rel="stylesheet/less" href="./Styles/game.less" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <!-- To quit from the game -->
        <div class="quit">
          <form action="../">
            <button class="btn">Quit</button>
          </form>
        </div>
        <div class="game">
          <div id="hidden">
            <h1>Welcome to Demo-DiceGame</h1>
            <p>a fun game, it can also help you take decisions.</p>
          </div>
          <!-- Game environment -->
          <h1 id="winner"></h1>
          <img class="trophy" />
          <div class="game-body">
            <div class="player1">
              <p id="player1">Player 1</p>
              <img class="dice-face1" />
            </div>

            <div class="player2">
              <p id="player2">Player 2</p>
              <img class="dice-face2" />
            </div>
          </div>

          <div class="play">
            <button class="btn" id="btn">Play</button>
          </div>
        </div>
      </div>
    </header>
    <script src="./game.js"></script>
  </body>
</html>